{% extends 'base.html.twig' %}

{% block title %}Liste Stagiaires{% endblock %}

{% block body %}
    <h1>Liste des stagiaires : </h1>

    {% for stagiaire in stagiaires %}
        {{ stagiaire }} 
        <a href="{{ path('delete_stagiaire', {'id': stagiaire.id}) }}">Delete</a>
        <a href="{{ path('edit_stagiaire', {'id': stagiaire.id}) }}">Edit</a>
        <br> 
    {% endfor %}
{% endblock %}
