{% extends 'base.html.twig' %}

{% block title %}Liste Satgiaires{% endblock %}

{% block body %}
    <h1>Liste des stagiaires : </h1>

    {% for stagiaire in stagiaires %}
        {{ stagiaire.prenom ~ ' ' ~ stagiaire.nom}} <br>
    {% endfor %}
{% endblock %}
