{% extends 'base.html.twig' %}

{% block title %}Effectif{% endblock %}

{% block body %}effecti
    <div class="effectif">
        
        <div class="stagiaires">
            <table>
                <thead>
                    <tr>
                        <th>STAGIAIRES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stagiaire in stagiaires %}
                        <tr>
                            <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="formateurs">
            <table>
                <thead>
                    <tr>
                        <th>FORMATEURS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for formateur in formateurs %}
                        <tr>
                            <td><a href="{{ path('show_formateur', {'id': formateur.id}) }}">{{ formateur }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
        
    </div>
{% endblock %}
