{% extends 'base.html.twig' %}

{% block title %}Effectif{% endblock %}

{% block body %}
    
    <h1>Liste des formateurs : </h1>

    {% for formateur in formateurs %}
        <a href="{{ path('show_formateur', {'id': formateur.id}) }}">{{ formateur }}</a>
        
        <br>
    {% endfor %}
    
    
    <h1>Liste des stagiaires : </h1>

    {% for stagiaire in stagiaires %}
        <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire }}</a>
        
        <br> 
    {% endfor %}
{% endblock %}
