{% extends 'base.html.twig' %}

{% block title %}Ajout module{% endblock %}

{% block body %}
    <div class="form-body">
    
        <h1>Formulaire d'ajout d'un module : </h1>
        <p>Remplissez le nom du module pour en créer un nouveau</p>
        
        <hr>

        {{ form_start(formAddModule) }}
            
            {{ form_row(formAddModule.nom) }}

            <hr>
            
            <div class="btn-container">
                <button type="submit" class="btn">AJOUTER LE MODULE</button>
            </div>

    {{ form_end(formAddModule) }}
    </div>
{% endblock %}
