/*ENTIRE SITE*/
* {
  font-family: 'Raleway', sans-serif;
  
}

:root {
  --grey: #75858e;
  --green: #ecf3da;
}

a{
  text-decoration: none;
  color: black;
}

/*NAVBAR*/
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--grey);
}

.menu li {
  float: left;
  border-right: 1px solid #bbb;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li:last-child {
  border-right: none;
}


.menu li a:hover {
  background-color: #111; /* Change the link color to #111 (black) on hover */
}


.dropdown-elements {
  display: none;
  position: absolute;
  background-color: var(--grey);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-elements a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-elements a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-elements {
  display: block;
}


/*Forms*/
input[type=text], input[type=password], input[type=email], input[type=date], .btn { /*for all form inputs*/
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  width: 99%;
}



.form-body {
  padding: 20px;
  background-color: white;
  margin: auto;
  width: 710px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

select {
  width: 99%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.btn-container{
  text-align: center;
}

.btn { /* Set a style for the submit button */
  background-color: var(--grey);
  color: white;
  cursor: pointer;
  opacity: 0.9;
  width: 100%;
}

.btn:hover {
  opacity: 1;
}

/*Formateurs/Stagiaires list*/
.effectif {
  display: flex;
  width: 100%;
  justify-content: center;
}
.formateurs {
  width: 50%;
}
.stagiaires {
  width: 50%;
}

.effectif table { 
  text-align: center;
  border-spacing: 1; 
  border-collapse: collapse; 
  background:white;
  border-radius:6px;
  overflow:hidden; 
  width:100%;
  margin:0 auto;
  position:relative;
}

.effectif table a {
  text-decoration: none;
  color: black;
  display: block;
}
  
.effectif td,th {
  padding-left:8px;
}


.effectif tbody tr:hover {
  background-color: var(--green);
}

.effectif thead tr { 
  height:60px;
  background:var(--green);
  font-size:16px;
}
  
.effectif tbody tr { height:48px; border-bottom:1px solid #E3F1D5 ;
  &:last-child  { border:0; }
}
  
/*SESSION LIST*/
.sessions {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 1000px;
  padding: 10px;
}

.future-sessions, .current-sessions, .past-sessions{
  display: flex;
  gap: 10px;
  
}

.session-box, .stagiaire-session{
  border: solid black 1px;
  width: 50%;
  text-align: center;
  background-color: var(--green);
}

.session-title {
  font-size: 1.2em;
  text-decoration: underline;
  font-weight: bolder;
}

/*SESSION INFO*/
.session-name, .person-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.session-formateur{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.stagiaires-in, .stagiaires-out, .modules, .ajout-module {
  width: 50%;
}

.stagiaires-in { order: 1; }
.stagiaires-out { order: 3; }
.modules { order: 2; }
.ajout-module { order: 4; }

.session-page{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}


.session-page table { 
  text-align: center;
  border-spacing: 1; 
  border-collapse: collapse; 
  background:white;
  border-radius:6px;
  overflow:hidden;
  width:100%;
  margin:0 auto;
  position:relative;
}

.session-page table a {
  text-decoration: none;
  color: black;
  display: block;
}
  
.session-page td,th {
  padding-left:8px;
}


.stagiaires-in tbody tr:hover {
  background-color: var(--green);
}

.stagiaires-out tbody tr:hover {
  background-color: var(--green);
}

.session-page thead tr { 
  height:60px;
  background:var(--green);
  font-size:16px;
}
  
.session-page tbody tr { height:48px; border-bottom:1px solid #E3F1D5 ;
  &:last-child  { border:0; }
}


.pgr-btn { /* Set a style for the programme submit button */
  background-color: var(--grey);
  color: white;
  cursor: pointer;
  opacity: 0.9;
  width: 35%;
}

.pgr-btn:hover {
  opacity: 1;
}

.ajout-module:has(#programme_form_module:empty) {
  display: none;
}

.programme-form{
  width: 75%;
  margin: auto;
}

/*STAGIAIRE/FORMATEUR INFO*/
.stagiaire-options{
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding: 10px;
}
.stagiaire-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  width: 700px;
  padding: 10px;
}

.stagiaire-info{
  padding: 10px;
  width: 100%;
  border: solid 1px var(--green);
}

.stagiaire-sessions{
  width: 100%;
}

.stagiaire-sessionss {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.stagiaire-session{
  width: 100%;
}

.formateur-session{
  border: solid black 1px;
  width: 33%;
  text-align: center;
  background-color: var(--green);
}

/*media queries*/
@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  main{flex-direction: column;}
  
/*SESSION LIST*/
  .sessions{
    width: 100%;
    text-align: center;
  }
  .current-sessions, .future-sessions, .past-sessions{
    flex-direction: column;
  }

  .session-box{
    width: 100%;
  }

/*SESSION INFO*/
  .session-page{
    flex-direction: column;
  }
  
  .stagiaires-in, .stagiaires-out, .modules, .ajout-module {
    width: 100%;
  }

  .stagiaires-in { order: 1; }
  .stagiaires-out { order: 2; }
  .modules { order: 3; }
  .ajout-module { order: 4; }

  .programme-form{
    width: 100%;
  }
  


/*STAGIAIRE/FORMATEUR LIST*/
  .effectif{
    flex-direction: column;
  }

  .stagiaires, .formateurs {
    width: 100%;
  }

/*STAGIAIRE INFO*/  

  .stagiaire-info, .stagiaire-sessions{
    width: 100%
  }

  .nav-stagiaires, .nav-sessions{
    width: 100%;
  }

/*FORMS*/
.form-body {
  width: 95%;
  }
}

