{% extends 'base.html.twig' %}

{% block title %}Liste Formateurs{% endblock %}

{% block body %}
    <h1>Liste des formateurs : </h1>

    {% for formateur in formateurs %}
    <a href="{{ path('show_formateur', {'id': formateur.id}) }}">{{ formateur }}</a><br>
    {% endfor %}
{% endblock %}
